# integration tests for vite ecosystem - single run of selected testsuite
name: vite-ecosystem-ci-selected

env:
  # 7 GiB by default on GitHub, setting to 6 GiB
  # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
  NODE_OPTIONS: --max-old-space-size=6144

on:
  workflow_dispatch:
    inputs:
      refType:
        description: "type of vite ref to use"
        required: true
        type: choice
        options:
          - branch
          - tag
          - commit
          - release
        default: "branch"
      ref:
        description: "vite ref to use"
        required: true
        type: string
        default: "main"
      suite:
        description: "testsuite to run"
        required: true
        type: choice
        options:
          - iles
          - svelte
          - vitepress
          - vitest
          - windicss
          - laravel
          - nuxt-framework
          - marko
jobs:
  execute-selected-suite:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: npm i -g pnpm
      - run: pnpm i --frozen-lockfile
      - run: pnpm exec -- esmo ecosystem-ci.ts --${{ github.event.inputs.refType }} ${{ github.event.inputs.ref }} ${{ github.event.inputs.suite }}
