# integration tests for nx ecosystem projects - scheduled or manual run for all suites
name: nx-ecosystem-ci

env:
  # 7 GiB by default on GitHub, setting to 6 GiB
  # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
  NODE_OPTIONS: --max-old-space-size=6144

on:
  schedule:
    - cron: "0 5 * * 1,3,5" # monday,wednesday,friday 5AM
  workflow_dispatch:
    inputs:
      refType:
        description: "type of ref"
        required: true
        type: choice
        options:
          - branch
          - tag
          - commit
          - release
        default: "branch"
      ref:
        description: "nx ref to use"
        required: true
        type: string
        default: "master"
      repo:
        description: "nx repository to use"
        required: true
        type: string
        default: "nrwl/nx"
  repository_dispatch:
    types: [ecosystem-ci]
jobs:
  test-ecosystem:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    strategy:
      matrix:
        suite:
          - nx-aws-lambda
          - nx-deno
          - nx-examples
          - nx-netlify
          - nx-nx-ignore
          - nx-remix
          - nx-rspack
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
        id: setup-node
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
        id: setup-deno
        continue-on-error: true
      - run: corepack enable
      - run: pnpm --version
      - run: pnpm i --frozen-lockfile
      - run: >-
          pnpm tsx ecosystem-ci.ts
          --${{ inputs.refType || github.event.client_payload.refType || 'branch' }} ${{ inputs.ref || github.event.client_payload.ref || 'master' }}
          --repo ${{ inputs.repo || github.event.client_payload.repo || 'nrwl/nx' }}
          ${{ matrix.suite }}
        id: ecosystem-ci-run
      # - if: always()
      #   run: pnpm tsx discord-webhook.ts
      #   env:
      #     WORKFLOW_NAME: ci
      #     REF_TYPE: ${{ inputs.refType || github.event.client_payload.refType || 'branch' }}
      #     REF: ${{ inputs.ref || github.event.client_payload.ref || 'master' }}
      #     REPO: ${{ inputs.repo || github.event.client_payload.repo || 'nrwl/nx' }}
      #     SUITE: ${{ matrix.suite }}
      #     STATUS: ${{ job.status }}
      #     DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
